* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.nav-bar {
    background-color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    padding-top: 30px;
    padding-right: 10px;

}

.lien-nav-bar {
    font-size: 17px;
    color: rgb(86, 86, 86);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.lien-nav-bar:hover {
    color: #1a73e8ef;
    
}

.for-h2-offcanvas {
    width: 90%;
    display: flex;
    justify-content: center;
}

.for-h2s-offcanvas {
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}

.h2-offcanvas {
    font-size: 17px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-right: 100%;
    padding-bottom: 25px;
}

.h4-fonctionnalite {
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 60px;
    color: rgb(50, 50, 50);
}

.ul-canvas {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.uls-canvas {
    margin-top: 30px;
    margin-right: 25%;
}

.div-offcanvas {
    position: fixed;
    top: 100px;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 75%;
    transform: translateY(-2000px);
    transition: 0.3s ease-in;
    box-shadow: 0px 150px 50px 85px rgba(114, 114, 114, 0.47);
}

.divs-offcanvas {
    width: 90% !important;
    display: flex;
    justify-content: center;
}

.div-offcanvas.active {
    transform: translateY(0px);
}

.div-offcanva {
    position: fixed;
    top: 100px;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 75%;
    transform: translateY(-2000px);
    transition: 0.3s ease-in;
    box-shadow: 0px 150px 50px 85px rgba(114, 114, 114, 0.47);
}

.div-offcanva.active {
    transform: translateY(0px);
}

.div-search {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 73.7%;
    height: 100px;
    top: 0;
    text-align: center;
    margin-left: 10%;
    transform: translateX(150%);
    transition: all 0.5s step-start;
}

.div-search.active {
    transform: translateX(0);
}

#i-search {
    margin-top: 4px;
    font-size: 15px;
}

.bar-search {
   width: 70%;
   height: 43px;
   margin-top: 35px;
   border: none;
   border-radius: 7px;
   font-size: 20px;
   box-shadow: 0px 0px 6px 1px rgba(200, 200, 200, 0.838);
    
}

.logo {
    width: 160px;
    height: 40px;
    margin-right: 60px;
}

.lien-nav-bar {
    display: flex;
    justify-content: space-between;
}

#i-offcanvas {
    font-size: 9px;
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 5px;
}

#i-offcanva {
    font-size: 9px;
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 5px;
}

.nav-bar1 {
    display: flex;
    justify-content: space-between;
}

.play-console {
    background-color: #1a73e8ef;
    margin-top: -20px;
    padding: 13px;
    display: flex;
    align-content: center;
    border-radius: 2px;
    text-align: center;
    width: 260px;
   
}
.play-console:hover {
    background-color: #093774ef;
}

#play-console {
    color: white;
    font-size: 23px;
}

#section1 {
    padding-top: 150px;
}

/* FIN NAVBAR */

.container {
    display: flex;
    justify-content: center;
    
}

.containers {
    width: 70%;
}

.for-section1 {
    display: flex;
    padding: 20px;
}

.for-section-div1 {
   width: 700px;
   padding-left: 50px;
}

.h1-for-section1 {
    font-size: 56px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 60px;
    color: rgb(50, 50, 50);
}

.p-for-section1 {
    font-size: larger;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 86, 86);
    margin-top: 50px;
}

.img-pen {
    width: 250px;
    margin-top: 20px;
    margin-left: 100px;
}

.a-for-section1 {
    margin-top: 40px;
    transition: 0.6s;
}

.lien-for-section1 {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    color: black;
    transition: 0.4s;
    
}
.lien-for-section1:hover{
    background-color: black;
    border: 2px solid black;
    color: white;
}
/* FIN SECTION 1 */


.for-section2 {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.for-section2-div1 {
    border: 1px solid rgb(200, 200, 200);
    width: 49%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 50px;
    padding-right: 60px;
    padding-bottom: 50px;
}

.for-section2-div1s {
    width: 50%;
}

.h2-for-section2 {
    font-size: larger;
    font-family: Arial, sans-serif;
    color: rgb(50, 50, 50);
    margin-bottom: 40px;
    
}

.p-for-section2 {
    color: rgb(86, 86, 86);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Dashboard, .medaille-etoile {
    width: 180px;
}

.a-for-section2 {
    margin-top: 50px;
}

.a-for-section2s {
    margin-top: 130px;
}

.lien-for-section2 {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    color: black;
    width: 100px;
    transition: 0.4s;
}
.lien-for-section2:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
}
/* FIN SECTION 2 */

.for-section3 {
    margin-top: 40px;
    padding: 30px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.play-consoles {
    width: 220px;
    margin-left: 100px;
}

.for-section3-div1 {
    width: 49%;
}

.h1-for-section3 {
    font-size: 56px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: rgb(50, 50, 50);
}

.p-for-section3 {
    font-size: larger;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 86, 86);
    margin-top: 50px;
}

.a-for-section3 {
    margin-top: 50px;
}

.lien-for-section3 {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    color: black;
    width: 100px;
    transition: 0.4s;
}
.lien-for-section3:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
}
/* FIN SECTION 3 */

.for-section4 {
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 80px;
    padding-right: 60px;
    padding-left: 0;
    padding-bottom: 50px;
}

.for-section4-div1 {
    width: 49% !important;
}

.h1-for-section4 {
    font-size: 56px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: rgb(50, 50, 50);
}

.p-for-section4 {
    font-size: larger;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 86, 86);
    margin-top: 50px;
}

.a-for-section4 {
    margin-top: 50px;
}

.lien-for-section4 {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    color: black;
    width: 100px;
    transition: 0.4s;
}
.lien-for-section4:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.main-fleur {
    width: 220px;
    margin-right: 150px;
}
/* FIN SECTION 4 */

.h1-for-section5, .h1-for-section6 {
    font-size: 56px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: rgb(50, 50, 50);
    margin-top: 60px;
}

.p1-for-section5, .p-for-section6 {
    font-size: larger;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 86, 86);
    margin-top: 50px;
}

.for-section5, .for-section6 {
    display: flex;
    margin-top: 20px;
}

.for-section5s {
    display: flex;
    margin-top: -30px;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;
}

.a-for-section5 {
    background-color: #e2f8fe;
    width: 49%;
    margin: 25px;
    margin-left: 0;
    padding: 20px;
    transition: 0.4s;
}

.a-for-section5:hover {
    box-shadow:  0px 2px 40px 1px rgba(0, 0, 0, 0.231);
}

.h3-for-section5, .h3-section6, .h3-section7 {
    font-size: larger;
    font-weight: normal;
    color: rgb(50, 50, 50);
}

.p-for-section5 {
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 86, 86);
    margin-top: 10px;
}

.lien-section5 {
    width: 30%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.lien-section5:hover {
    color: #e2effe;
}

.h3s-for-section5 {
    color: #1a73e8;
}

#i-for-section5 {
    margin-top: 3px;
    font-size: 18px;
    color: #1a73e8;
}
/*  FIN SECTION 5  */

.malette, .chapeau, .livre {
    width: 50px;
    margin-bottom: 30px;
}

.p-section6 {
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 86, 86);
    margin-top: 50px;
}

.a-for-section6 {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    width: 50%;
    margin: 25px;
    margin-left: 0;
    padding: 20px;
    transition: 0.4s;
}

.a-for-section6:hover {
    box-shadow:  0px 2px 40px 1px rgba(0, 0, 0, 0.231);
}

.lien-section6 {
    width: 45%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.h3s-for-section6 {
    color: #1a73e8;
}

#i-for-section6 {
    margin-top: 3px;
    font-size: 18px;
    color: #1a73e8;
}
/*  FIN SECTION 6  */

.footer {
    background-color: rgba(218, 218, 218, 0.234);
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.section7 {
    width: 70%;
    padding-bottom: 50px;
}

.for-section7 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: 1px  solid rgb(200, 200, 200);
}

.for-section7s {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.section7-div1 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 20px;
}

.section7-div2 {
    display: flex;
    justify-content: space-between;
    width:59%;
    margin: 20px;
}

.section7-div3 {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.section7-div4 {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.p-section7 {
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 86, 86);
}

.btn-Inscription {
    padding: 10px;
    padding-right: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 86, 86);
    margin-top: -15px;
    transition: 0.4s linear;
}

.btn-Inscription:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.a-for-section7 {
    color: black;
}

#i-for-section7:hover {
    box-shadow: 0px 0px 0px 15px rgba(197, 197, 197, 0.551);
    border-radius: 50%;
}

#i-for-section7 {
    font-size: 20px !important;
}

.h1s-section7 {
    margin-top: -4px;
}

.a2-for-section7 {
    color: rgb(86, 86, 86);
}

#question {
    font-size: 20px!important;
    color: rgb(86, 86, 86);
}

select {
    font-size: 17px;
    border: 1px solid rgba(255, 255, 255, 0.234);;
    background-color: rgba(255, 255, 255, 0.234);
}

